* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

[class*="col-"] {
    float: left;
}

.row::after,
.menu::after {
    content: "";
    display: block;
    clear: both;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.6667%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33333%;
}

.logo {
    margin-top: 7px;
}

.menu {
    position: relative;
}

.menu li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}


.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    height: 50px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}

.menu li:hover a {
    background-color: #2c71b8;
    color: white;
}

.key {
    background-image: url(images/arrow_down.svg);
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 18px;
    left: 260px;
    height: 1em;
    width: 1em;
    margin: 0 0.15em 0 0.3em;
    vertical-align: -0.3em;
    background-size: 1em 1em;
    filter: invert(100%);
}



.dropdown-content {
    position: absolute;
    font-size: 21px;
    z-index: 10;
    display: none;
    list-style: none;
    left: 146px;
}

.dropdown-content li {
    border: none;
    width: 293px;
    height: 50px;
}

.dropdown-content a {
    color: white;
    background-color: #2c71b8;
}

.menu li:hover .dropdown-content {
    display: block;
}

.menu li:hover .key {
    display: block;
}

.menu li .dropdown-content a:hover {
    color: #2c71b8;
    background-color: white;
}

form {

    margin: 5px 0 0px 30px;
    position: relative;
    border: 1px black;
    float: left;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid #2c71b8;
    background: #cadbed;
    padding-left: 20px;
}

.loupe {
    height: 30px;
    width: 30px;
    position: absolute;
    border: none;
    top: 5px;
    right: 5px;
    background: #2c71b8;
    background-repeat: no-repeat;
    background-image: url(images/search.png);
    background-position: center;
    cursor: pointer;
}

.cart-box {

    position: relative;
}

.cart {
    margin: 5px 0px 0px 33px;
    height: 40px;
    width: 40px;
    background: #ffffff;
}

.cart-number {
    bottom: 30px;
    left: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #2c71b8;
    border-radius: 50%;
    background-color: #2c71b8;
    position: absolute;
}

.cart-number p {
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: white;
}

.cart img {
    margin: 25%;
}

main {
    background-color: rgba(255, 255, 255, 0.1);
}

.row {
    margin-right: -15px;
}

.breadcrumbs {
    margin: 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 64px;
}

.breadcrumbs-list {
    list-style: none;
}

.breadcrumbs-list li {
    display: inline;
    font-size: 14px;
}

.breadcrumbs-list li+li:before {
    padding: 8px;
    color: #96b8dc;
    content: "\003E";
}

.breadcrumbs-list li a {
    color: #96b8dc;
    text-decoration: none;
}

.breadcrumbs-list li a span {
    text-decoration: underline;
}

.breadcrumbs-list li:hover a {
    color: white;
}

.product-name {
    text-indent: -2px;
    height: 100px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 48px;
    color: white;
}


.sort {
    margin-right: 15px;
    position: relative;
    height: 100px;
}

.sort li {
    float: left;
    width: 100%;
}

.sort a {
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    font-size: 21px;
    color: #2c71b8;
    width: 100%;
    line-height: 40px;
    display: block;
    height: 40px;
    top: 0px;
    border: 1px solid white;
    text-decoration: none;
}

.sort li:hover a {
    background-color: #2c71b8;
    color: white;
}

.key-2 {
    background-image: url(images/arrow_down.svg);
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 72px;
    left: 245px;
    height: 1em;
    width: 1em;
    margin: 0 0.15em 0 0.3em;
    vertical-align: -0.3em;
    background-size: 1em 1em;
    filter: invert(100%);
}

.dropdown-content-sort {
    position: absolute;
    font-size: 21px;
    z-index: 10;
    display: none;
    list-style: none;
}

.dropdown-content-sort li {
    border: none;
    width: 100%;
    height: 40px;
}

.dropdown-content-sort a {
    color: white;
    background-color: #2c71b8;
}

.sort li:hover .dropdown-content-sort {
    display: block;
}

.sort li:hover .key-2 {
    display: block;
}

.sort li .dropdown-content-sort a:hover {
    color: #2c71b8;
    background-color: white;
}

.sort li:hover .key1 {
    display: block;
}


.sort::after {
    content: "";
    display: block;
    clear: both;
}

.product {
    border: 1px solid white;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: rgba(44, 113, 184, 0.75);
}

/* .product:not(:nth-child(3n)) {
    margin-right: 30px;
} */

.product-images {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    margin-bottom: 15px;
    position: relative;
}


.product-images img {
    position: absolute;
    display: block;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.product-like {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(images/product-like.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 50px;
}

.product-like:hover {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;
    background-image: url(images/product-like-select.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 50px;
}
.product-zoom {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(images/product-zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-zoom:hover {
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border: 1px solid #2c71b8;
    background-image: url(images/product-zoom-select.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0 0 15px 15px;
}

.product-description p {
    font-size: 21px;
    font-weight: 100;
    color: white;
    margin: 0 0 15px 15px;
}

.product-features {
    color: white;
    font-size: 21px;
    margin: 0 0 15px 15px;
}

.product-features span {
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}

.price sup {
    font-size: 30px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 0 25px;
    margin-bottom: 15px;
    width: 210px;
    height: 50px;
    font-weight: bold;
    font-size: 21px;
    color: white;
    background-color: #2c71b8;
    border: 1px solid white;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    display: block;
    margin: 0 auto;
    padding: 0 25px;
    margin-bottom: 15px;
    width: 210px;
    height: 50px;
    font-weight: bold;
    font-size: 21px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border:none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-add-to-cart {
    margin-bottom: 30px;
    background-image: url(images/cart2.png);
    background-position: bottom 16px right 10px;
    background-repeat: no-repeat;
}

.btn-add-to-cart:hover {
    margin-bottom: 30px;
    background-image: url(images/cart2.png);
    background-position: bottom 16px right 10px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.2);
}

.load-more {
    text-align: center;
    margin-top: 10px;
}
.load-more a {
    text-decoration: none;
    font-size: 36px;
    color: white;
}